.ChangePW_Div{   
   width: 100%;  
   padding: 3vw 3vh;
   align-items: baseline;
   
}
 
.backBtn{ 
  padding: 2vw 3vh;
  align-items: baseline; 
  display: flex;
  justify-content: space-between;
}

.backBtn2{
     
    display: flex;   
    justify-content:flex-end;   
  }
  


.editBtn_text{
    padding:1.5vh 3vh
}
.edit_btn{
   width: 80px;
   height:40px;
   border-radius: 20px;
   color: #fff;
   font-family: var(--HEADING_FONT_FAMILY) !important; 
   background-color: #000;
   cursor: pointer;
}